<?xml version="1.0"?>
<robot name="bed_table" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Dummy root link to avoid KDL inertia issue -->
  <link name="world" />

  <!-- BedTable Model using local package mesh paths -->
  <link name="bed_table_body">
    <inertial>
      <origin xyz="0.0 0.0 0.0"/>
      <mass value="5"/>
      <inertia ixx="0.5" ixy="0.0" ixz="0.0" iyy="0.5" iyz="0.0" izz="0.5"/>
    </inertial>
    <visual name="visual">
      <geometry>
        <mesh filename="package://ranger_mini_v2_gazebo/meshes/BedTable/meshes/BedTable.obj" />
      </geometry>
    </visual>
    <collision name="collision">
      <geometry>
        <mesh filename="package://ranger_mini_v2_gazebo/meshes/BedTable/meshes/BedTable_Col.obj" />
      </geometry>
    </collision>
  </link>

  <!-- Joint connecting dummy world link to bed table -->
  <joint name="world_to_bed_table" type="fixed">
    <parent link="world" />
    <child link="bed_table_body" />
    <origin xyz="0 0 0.4" rpy="0 0 0" />
  </joint>

</robot> 