<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="joy_dev0" default="/dev/input/js0" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDFs into the ROS Parameter Server -->
  <param name="xray_source_description" command="$(find xacro)/xacro '$(find ranger_mini_v2_gazebo)/xacro/ranger_mini_xray_source.xacro'" />
  <param name="xray_detector_description" command="$(find xacro)/xacro '$(find ranger_mini_v2_gazebo)/xacro/ranger_mini_xray_detector.xacro'" />
  <param name="patient_chair_description" command="$(find xacro)/xacro '$(find ranger_mini_v2_gazebo)/xacro/ranger_mini_patient_chair.xacro'" />

  <!-- Spawn X-ray Source Robot (with reflector) -->
  <node name="xray_source_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  		args="-urdf -model ranger_mini_xray_source -param xray_source_description -x -2.0 -y 0.0 -z 0.3 -R 0.0 -P 0.0 -Y 0.0"/>

  <!-- Spawn X-ray Detector Robot (with reflective board) -->
  <node name="xray_detector_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  		args="-urdf -model ranger_mini_xray_detector -param xray_detector_description -x 2.0 -y 0.0 -z 0.3 -R 0.0 -P 0.0 -Y 3.14159"/>

  <!-- Spawn Patient Chair Robot (moving chair) -->
  <node name="patient_chair_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  		args="-urdf -model ranger_mini_patient_chair -param patient_chair_description -x 0.0 -y 0.0 -z 0.3 -R 0.0 -P 0.0 -Y 0.0"/>

  <!-- ros_control launch files for each robot -->
  <include file="$(find ranger_mini_control)/launch/robot_control_v2.launch"/>

  <!-- Launch RViz for visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ranger_mini_v2_gazebo)/rviz/xray_simulation.rviz" />

</launch> 